html {
    background-color: rgb(29, 29, 29);
    height: 400px;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    font-family: Consolas, monospace;
}

#game-screen {
    background-color: black;
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
}