html {
    background-color: rgb(29, 29, 29);
    height: 400px;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    font-family: Consolas, monospace;
}

#game-screen {
    background-color: black;
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#game-main-menu {
    background-color: rgba(156, 156, 156, .9);
    color: white;
    text-shadow: #020819 8px -20px 9px;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}